button {
    padding: 20px 40px;
    margin: 1rem;
	background: none;
	border: none;
	position: relative;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 3px;
    cursor: pointer;
}
	button:after, button:before{
		content: '';
		position: absolute;
		border-radius: 5px;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		border: 2px solid #000;
        transition: transform .2s; 
    }
	button:after{
        transform: translate(3px, 3px)	
    }
	button:before{
        transform: translate(-3px, -3px)
    }
	button:hover::after,button:hover::before{
		transform: translate(0);
    }


    .centered{
        width: 100%;
        min-height: 100vh;
        display: flex;
        justify-content: center;
    }

    .centered>div{   
        width: 100%;    
        text-align: center;
        align-items: center;
        display: flex;
        justify-content:space-evenly
    }

    .typer{
        width: 25%;
        font-size: 100px;
        font-family: 'Poppins', sans-serif;
    }